.footer__wrapper {
  align-items: center;
  background: #1C1649;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  // flex-flow: row nowrap;
  height: 85px;
  justify-content: space-between;
  padding: 0 50px;
  margin: 0 100px;
}

.footer__nav {
  display: flex;
}

.footer__nav li {
  color: #B8C3D5;
  cursor: pointer;
  font-size: .750em;
  margin-right: 20px;
}

.footer__top-btn {
  align-items: center;
  background: #342A7B;
  border-radius: 10px;
  color: #B8C3D5;
  display: flex;
  height: 46px;
  justify-content: center;
  width: 46px;
}